# pandas メモ

2021.5.22　作成

# 目次

- [Seriesオブジェクト](#Seriesオブジェクト)　　
    - [mapメソッド](#mapメソッド)
    - [applyメソッド](#applyメソッド)
- [DataFrameオブジェクト](#DataFrameオブジェクト)
    - [applymap](#applymap)
- [まとめ](#まとめ)
- [補足](#補足)
    - [無名関数lambda](#無名関数lambda)
    - [小数点以下を取り除く](#小数点以下を取り除く)

In [19]:
import pandas as pd

## Seriesオブジェクト

要素一つ一つに関数を適用させる方法
* map
* apply

In [23]:
sr = pd.Series([1.2, 1.5, 1.7, 2.5, 4.8])
sr

print(type(sr)) # Seriesオブジェクト

<class 'pandas.core.series.Series'>

### mapメソッド

In [24]:
sr.map(lambda x: int(x))

0    1
1    1
2    1
3    2
4    4
dtype: int64

### applyメソッド

In [22]:
sr.apply(lambda x: int(x))

0    1
1    1
2    1
3    2
4    4
dtype: int64

## DataFrameオブジェクト

要素一つ一つに関数を適用させる方法
* applymap

In [25]:
df = pd.DataFrame([[1.2, 3.2, 4.5],[8.3, 10.5, 2.9]])
df

print(type(df)) # DataFrameオブジェクト

<class 'pandas.core.frame.DataFrame'>

### applymap

In [26]:
df.applymap(lambda x: int(x))

   0   1  2
0  1   3  4
1  8  10  2

## まとめ


|メソッド|メソッドを使用できるオブジェクト|
|:--|:--|
|map|Seriesオブジェクト|
|apply|Seriesオブジェクト|
|applymap|DataFrameオブジェクト|

## 補足

### 無名関数lambda

無名関数はその名の通り、関数名を定義する必要がない関数。  
関数は何回も再利用できるが、一回だけ関数を使用したい場合は無名関数を使うと便利。  
ワンライナーで記述できる。

In [33]:
df = pd.DataFrame([[100, 200, 300],
                        [200, 150, 120]]
                        , columns=['りんご', 'ばなな', 'みかん'])

#　インデックスをつける
sr_index = pd.Series(['店舗A', '店舗B'])
df.set_index(sr_index, inplace=True) # オプションの inplace=True によって、代入しなくて 変数 df の値を上書きしてくれる

df

     りんご  ばなな  みかん
店舗A  100  200  300
店舗B  200  150  120

**税込みに変更**

In [39]:
df = df.applymap(lambda x: int(x * 1.1))
df

     りんご  ばなな  みかん
店舗A  110  220  330
店舗B  220  165  132

**市場平均価格**

In [44]:
import numpy as np

print(type(df.mean())) # Seriesオブジェクト
df.mean()

<class 'pandas.core.series.Series'>

りんご    165.0
ばなな    192.5
みかん    231.0
dtype: float64

### 小数点以下を取り除く

astypeメソッドで要素を型変換する事ができる。  
float型は小数点以下がついてくるため、int型に変換して整数のみにする

In [46]:
import numpy as np

sr = pd.Series([1.2, 1.5, 1.7, 2.5, 4.8])
sr.astype(np.int64)

0    1
1    1
2    1
3    2
4    4
dtype: int64

In [47]:
df = pd.DataFrame([[1.2, 3.2, 4.5],[8.3, 10.5, 2.9]])
df.astype(np.int64)

   0   1  2
0  1   3  4
1  8  10  2

無名関数を使って、型変換する

In [49]:
sr.map(lambda x: int(x))

0    1
1    1
2    1
3    2
4    4
dtype: int64

In [50]:
df.applymap(lambda x: int(x))

   0   1  2
0  1   3  4
1  8  10  2